{{!-- {{#each words}}
<div class="card mt-5" style="width: 15rem;height: 20rem;">
  <div class="card-body">

    <div id=score>Learning Score: 0 </div>

    {{#each words}}
    <h3>{{this.searchedWord}}</h3>
    <p>Translation:{{this.translatedWord}}</p>
    <p>Translation:{{this.translatedWord}}</p>
    <p>Example:{{this.gerSentence}}</p>
    <p> Example: {{this.engSentence}}</p>
    <p> IPA: {{this.ipaWord}}</p>

    <a href="/word-detailpage/{{this._id}}"><button id="signBtn" class="w-20 btn btn-lg">Edit</button></a>
    <a href="/words/delete/{{this._id}}"><button id="signBtn" class="w-20 btn btn-lg">Delete</button></a>
    <br>
    <br>

    </p>



  </div>
</div>
{{/each}} --}}

{{!-- <button id="signBtn" type="submit" class="w-20 btn btn-lg mt-5">Save Word</button> --}}
{{!-- <a href="/list-words"> <button id="signBtn" class="w-20 btn btn-lg mt-5">My saved Words</button></a> --}}
<div id="scoreWrap" class="container">
<div id="score" style="width:7em" class="d-flex justify-content-center mt-5 text-center w-1 mb-3 btn btn-lg"> Score: 0  </div>
</div>
<div class="d-flex flex-wrap p-5">
  {{#each words}}

  <div id="cardContainer" class="flip-card m-4  p-2" style="width: 20rem;height: 21rem;">
    <div class="flip-card-inner">
      <div class="flip-card-front" style="border-radius:2rem">
        <h3 class="mt-2">{{this.searchedWord}}</h3>
      </div>
      <div class="flip-card-back" style="border-radius:2rem">
        <h3 class="mt-2" style="color:#013567"><span style="font-style: italic;">{{this.searchedWord}}</span></h3>
        <p><span style="font-weight: bolder; border:white">Übersetzung: </span><span style="font-style: italic;">{{this.translatedWord}}</span></p>
        <p><span style="font-weight: bolder;">Example: </span><span style="font-style: italic;">{{this.gerSentence}}</span></p>
        <p><span style="font-weight: bolder;">Beispielsatz: </span><span style="font-style: italic;">{{this.engSentence}}</span></p>
        <p><span style="font-weight: bolder;">IPA: </span><span style="font-style: italic;">{{this.ipaWord}}</span></p>

        <a href="/word-detailpage/{{this._id}}"><button id="signBtn" class="w-20 btn btn-lg rounded-pill">Edit</button></a>
        <a href="/words/delete/{{this._id}}"><button id="signBtn" class="w-20 btn btn-lg rounded-pill">Delete</button></a>
        <div id="correctWord" style=" height:2rem " class="w-20 mb-7 btn btn-lg"><button style=" height:2rem; color:white; border-radius:2em " class="w-20 mb-7 btn btn-lg"> I knew that one</button> </div>
      </div>
    </div>
  </div>

  {{/each}}
</div>

<script src="/js/score.js"></script>