{{!-- {{#each words}}
<div class="card mt-5" style="width: 15rem;height: 20rem;">
  <div class="card-body">

 <div id=score>Learning Score: 0 </div>

      {{#each words}}
    <h3>{{this.searchedWord}}</h3>
    <p>Translation:{{this.translatedWord}}</p>
    <p>Translation:{{this.translatedWord}}</p>
    <p>Example:{{this.gerSentence}}</p>
    <p> Example: {{this.engSentence}}</p>
    <p> IPA: {{this.ipaWord}}</p>

    <a href="/word-detailpage/{{this._id}}"><button id="signBtn" class="w-20 btn btn-lg">Edit</button></a>
    <a href="/words/delete/{{this._id}}"><button id="signBtn" class="w-20 btn btn-lg">Delete</button></a>
    <br>
    <br>

    </p>



  </div>
</div>
{{/each}} --}}

{{!-- <button id="signBtn" type="submit" class="w-20 btn btn-lg mt-5">Save Word</button> --}}
{{!-- <a href="/list-words"> <button id="signBtn" class="w-20 btn btn-lg mt-5">My saved Words</button></a> --}}

<div id="score">Learning Score: 0 </div>

<div class="d-flex flex-wrap p-5">
  {{#each words}}

  <div id="cardContainer" class="flip-card mt-5 p-2" style="width: 20rem;height: 20rem;">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h3>{{this.searchedWord}}</h3>
      </div>
      <div class="flip-card-back">
        <h3>{{this.searchedWord}}</h3>
        <p>Translation:{{this.translatedWord}}</p>
        <p>Example:{{this.gerSentence}}</p>
        <p> Example: {{this.engSentence}}</p>
        <p> IPA: {{this.ipaWord}}</p>

        <a href="/word-detailpage/{{this._id}}"><button id="signBtn" class="w-20 btn btn-lg">Edit</button></a>
        <a href="/words/delete/{{this._id}}"><button id="signBtn" class="w-20 btn btn-lg">Delete</button></a>
        <button id="correctWord" class="w-20 btn btn-lg">I knew that one</button></a>
      </div>
    </div>
  </div>

  {{/each}}
</div>

<script src="/js/score.js"></script>