{{!-- <h1>Results</h1> --}}


<div class="card" style="width: 18rem;">
  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
  <div class="card-body">
    <h5 class="card-title">Your Word:</h5>
    <p class="card-text">
    <form action="/addWord" method="POST">
      <input name="searchedWord" value={{searchedWord}} hidden>
      <p>English: {{searchedWord}} </p>
      <input name="translatedWord" value={{translatedWord}} hidden>
      <p>German: {{translatedWord}} </p>
      <input name="gerSentence" value={{gerSentence}} hidden>
      <p>English sentence example: {{gerSentence}} </p>
      <input name="engSentence" value={{engSentence}} hidden>
      <p>German sentence example: {{engSentence}} </p>
      <input name="ipaWord" value={{ipaWord}} hidden>
      <p>IPA: {{ipaWord}} </p>

      <button id="signBtn" type="submit" class="w-100 btn btn-lg mt-5">Save Word</button>
      <a href="/list-words"> <button id="signBtn" class="w-100 btn btn-lg mt-5">My saved Words</button></a>
    </form>

  </div>
</div>